:root {
  --user-vh: 1vh;
}

html, body {
	margin: 0;
	padding: 0;
	height: calc(100 * var(--user-vh));
}

.full-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  height: calc(100 * var(--user-vh));
  width: 100vw;
}

.container {
  /*position: relative;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 645px;
}

@media only screen and (min-width: 646px) {
  .container {
    width: 645px;
    font-size: 645px;
  }
}

.image-container {
  position: relative;
  /*width: calc(53.4 * var(--user-vh));*/ /*9/16vh*100*95%=53.4*/
  width: calc(95 * var(--user-vw));
  height: calc(84 * var(--user-vh));
  /*margin-bottom: 1vh;*/
  margin: calc(0.5 * var(--user-vh));
  overflow: hidden;
  border: 1px solid lightgray;
  font-size: calc(2 * var(--user-vh));
  color: gray;
  text-align: center;
  line-height: calc(84 * var(--user-vh)); /* Set the line-height equal to the container height to center the text vertically */
  /*vertical-align: top;*/
}

.image-container img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.input-container {
  /*width: calc(53.4 * var(--user-vh));*/ /*9/16vh*100*95%;*/
  width: calc(95 * var(--user-vw));
  height: calc(5.5 * var(--user-vh));
  font-size: calc(3 * var(--user-vh));
  margin-bottom: calc(0.2 * var(--user-vh));
  display: flex;
  justify-content: space-between;
}

button {
  padding: calc(1 * var(--user-vh));
  padding-left: calc(1 * var(--user-vh));
  padding-right: calc(1 * var(--user-vh));
  margin-right: 0%;
  border: none;
  border-radius: 5px;
  font-size: calc(3 * var(--user-vh));
  /*font-weight: bold;*/
  line-height: calc(3.8 * var(--user-vh));
  background-color: #2196F3;
  color: #fff;
  /*cursor: pointer;*/
  height: calc(5.5 * var(--user-vh));
  width: calc(5.8 * var(--user-vh));
  vertical-align: middle;
}

button:disabled {
  opacity: 0.5;
  /*cursor: not-allowed;*/
}

select {
  font-size: calc(2.5 * var(--user-vh));
  height: calc(5.5 * var(--user-vh));
  width: calc(19 * var(--user-vh));
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
}

label {
  font-size: calc(3 * var(--user-vh));
  padding-top: calc(0.2 * var(--user-vh));
}

input[type="number"] {
  font-size: calc(2.5 * var(--user-vh));
  text-align: center;
  height: calc(5 * var(--user-vh));
  width: calc(5.5 * var(--user-vh));
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
}

input[type="text"] {
  font-size: calc(2.5 * var(--user-vh));
  color: gray;
  height: calc(4.8 * var(--user-vh));
  width: calc(43.5 * var(--user-vh));
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  vertical-align: top;
}

input[type="text"]:not(:focus) {
  color: #f2f2f2; /* match the background color */
}

input[type="file"] {
  display: none;
}

#upload-message {
  font-size: calc(2.5 * var(--user-vh));
  display: inline-block; /* Make the message a block-level element */
  vertical-align: middle; /* Vertically center the message within the container */
  line-height: normal; /* Reset the line-height to normal to prevent additional vertical space */
}
  
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 알림 on/off start */
.switch {
  position: relative;
  display: inline-block;
  width: calc(9 * var(--user-vh));
  height: calc(5 * var(--user-vh));
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: calc(5 * var(--user-vh));
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(3.8 * var(--user-vh));
  width: calc(3.8 * var(--user-vh));
  left: calc(0.65 * var(--user-vh));
  bottom: calc(0.69 * var(--user-vh));
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(calc(3.8 * var(--user-vh)));
}

/* Style the on/off labels */
.switch-label {
  font-size: 3vw;
  margin-bottom: 0;
  user-select: none;
  color: #555;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label.on {
  margin-left: .5em;
  color: #5cb85c;
}

.switch-label.off {
  margin-right: .5em;
  color: #d9534f;
}
/* 알림 on/off end*/

/* 모달 팝업 start */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: calc(5 * var(--user-vh)) auto;
  padding: calc(1.8 * var(--user-vh));
  border: 1px solid #888;
  width: calc(49 * var(--user-vh));
  max-width: 90%;
  position: relative;
  text-align: center;
}

.modal-close {
  position: absolute;
  top: calc(1 * var(--user-vh));
  right: calc(1 * var(--user-vh));
  font-size: calc(2 * var(--user-vh));
  /*font-weight: bold;*/
  cursor: pointer;
}

.modal-message {
  font-size: calc(3 * var(--user-vh));
  margin-bottom: calc(2 * var(--user-vh));
  word-wrap: break-word;
}
/*
.modal-ok {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
  margin-top: 3vw;
  position: absolute;
  bottom: 3vw;
  left: 50%;
  transform: translateX(-50%);
}*/
/* 모달 팝업 end */

.lable-container {
  position: relative;
  /*width: calc(53.4 * var(--user-vh));*/ /*9/16vh*100*95%;*/
  width: calc(95 * var(--user-vw));
  height: calc(2 * var(--user-vh));
  overflow: hidden;
  font-size: calc(1.6 * var(--user-vh));
  color: gray;
  text-align: left;
  vertical-align: bottom;
}

.timer-label {
  text-align: left;
  font-size: calc(1.6 * var(--user-vh));
  color: gray;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  vertical-align: top;
  align-items: left;
}